<div class="body_wrapper">
<div class="body_inner">
  <div class="body_content">
    <div class="cloud_container">
      <div class="app_sdk_image"> <img src="/images/ruby_app_paas.png" alt="java" /></div>
      <div class="app_sdk_image_th">
        <h1>Welcome to App42 PaaS</h1>
      </div>
      <div class="massage_text_app">(You have successfully deployed your first Ruby Application)</div>
      <div class="cloud_button_paas"> <a href="http://app42paas.shephertz.com/dev-center/getting-started"><img src="/images/app-page_gt.png" alt="app42_pass" / style="margin-right:20px;"></a> <a href="http://apphq.app42paas.com"><img src="/images/app-page_console.png" alt="app-42_console" /> </a></div>
    </div>
  </div>
</div>
<div class="powered_by_wrapper">
  <div class="powered_by_inner">
    <div class="powered_by_content">
    <table>
    <tbody>
    <tr>
     <td style="font-size:25px;"><b> Powered by :</b></td><td style="margin-right:30px;"><a href="http://app42paas.shephertz.com/dev-center/getting-started"><img src="/images/logo.png" alt="app42paas" /></a></td>
     </tr>
     </tbody>
     </table>
    </div>
  </div>
</div>
