/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* { padding:0px; margin:0px; border:0px;}
@font-face{font-family: MyriadPro; src:url(../font/MyriadPro-Bold.otf); src:url(../font/MyriadPro-Regular.otf);}
body{font-family:"Myriad Pro", Helvetica, Arial, sans-serif src:url(../font/MyriadPro-Bold.otf); font-size:12px; color:#fff; background-color:#99cfdf;}
h1 h2 h3 h4 h5 h6{margin:0px; padding:0px; font-family:"Myriad Pro", Helvetica, Arial, sans-serif;}
.body_wrapper{width:100%; height:100%; float:left;  background-color:#99cfdf;}
.body_inner{width:1004px; padding:0 10px; margin:0 auto;}
.body_content{width:1004px; float:left; background-image:url(/images/app-page_bg.jpg); background-repeat:no-repeat; background-position:center top; margin-bottom:70px;}
.app_sdk_image{width:100%; height:93px; text-align:center;padding-top:20px; padding-bottom:22px;}
.cloud_container{margin-top:112px; margin-left:285px; width:444px; height:369px; background-image:url(/images/cloud_container_image.png); background-repeat:no-repeat; background-position:center top;}
.cloud_container h1{font-size:26px; font-weight:bold; font-family:"Myriad Pro"; color:#fff; margin-left:75px;}
.massage_text_app{ width:444px; padding-top:45px; padding-bottom:30px; color:#fff; font-size:15px; font-weight:bold; text-align:center;}
.cloud_button_paas{ width:444px; text-align:center;}

.powered_by_wrapper{width:100%; height:66px; float:left;  background-color:#352b1f;}
.powered_by_inner{width:1004px; padding:0 10px; margin:0 auto;}
.powered_by_content{width:1004px; float:left; text-align:right; padding-top:15px;}
table{border:0px; margin-left: 650px;}
